* {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body, html, .App, #root, #wrapper-light, #wrapper-dark{
  margin: 0;
  height: 100%;
}

body {
  overflow-y: scroll;
}

button:focus {
  outline: none;
}

#wrapper-light, #wrapper-dark {
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: rgb(40, 40, 40);
  color: whitesmoke;
  padding: 6vh 0vh 0vh 0vh;
}

#wrapper-light {
  background-color: white;
  color: black;
}

.header-light, .header-dark {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  height: 6vh;
  z-index: 999;
  padding: 1vh 5vw 1vh 5vw;
}

.header-light {
  background-color: white;
  box-shadow: 0px 2px 2px gray;
}

.header-dark {
  background-color: rgb(31, 31, 31);
}

#logo {
  display: flex;
  align-items: center;
}

#logo-img {
  width: 5vmin;
}

#logo-text {
  font-size: 4vmin;
}

#header-icons{
  display: flex;
  width: 10vw;
  justify-content: space-between;
  font-size: 3vh;
}

.search-bar-light, .search-bar-dark {
  border: 1px solid rgb(98, 98, 98);
  width: 30vw;
  height: 4vh;
  border-radius: 10px;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  padding: 0vh 1vh;
}

.search-bar-dark {
  background-color: rgb(40, 40, 40);
}

.search-input {
  background-color: inherit;
  width: 100%;
  border: none;
  color: inherit;
}

.search-input::placeholder {
  color: inherit;
  opacity: 0.6;
}

.search-bar-light:hover {
  background-color: rgb(250, 250, 250);
}

.search-bar-dark:hover {
  background-color: rgb(51, 51, 51);
}

.search-input:focus {
  outline: none;
}

#search-button {
  border: none;
  font-size: 2.5vmin;
  color: inherit;
  background-color: inherit;
}

#search-button:hover {
  cursor: pointer;
}

.header-dark button, .header-light button {
  color: inherit;
  background-color: inherit;
  font-size: 3vmin;
  border: none;
}

.header-light button:hover, .header-dark button:hover {
  cursor: pointer;
}
.header-light button:focus, .header-dark button:focus{
  outline: none;
}

#shopping-cart-button{
  display: flex;
  flex-direction: row;
  align-items: start;
  height: fit-content;
  background-color: inherit;
  border: none;
}

#shopping-cart-button:hover {
  animation: wiggle 300ms ease-in forwards;
  transition: transform 100ms;
}

@keyframes wiggle {
  25%{
    transform: rotate(5deg)
  }
  50%{
    transform: rotate(-5deg);
  }
  75%{
    transform: rotate(5deg);
  }
}

#shopping-cart-button:active {
  transform: scale(0.8);
}

#amount-in-cart {
  height: 2vh;
  width: 2vh;
  background-color: red;
  font-size: 1.5vh;
  border-radius: 50%;
}

#cart-icon {
  font-size: 3vh;
}

#theme-button, #user-button {
  transition: transform 100ms ease-in;
}

#theme-button:hover, #user-button:hover {
  transform: scale(1.1);
}

#theme-button:active {
  animation: spin 500ms;
}

@keyframes spin {
  25%{
    transform: rotate(90deg)
  }
  50%{
    transform: rotate(180deg);
  }
  75%{
    transform: rotate(270deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.product-header {
  font-size: 6vmin;
  padding: 1vh 2vw;
  background-color: inherit;
}

#modal-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
}

#modal-background{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
}

.modal-area-light, .modal-area-dark{
  display: flex;
  align-items: center;
  position: fixed;
  top: 12.5vh;
  right: 0%;
  height: 80%;
  width: 50vw;
  background-color: whitesmoke;
  padding: 2vmin;
  overflow-y: auto;
}

.modal-area-dark{
  background-color: rgb(51, 51, 51);
}

#modal-amount-change {
  color: inherit;
  width: 5vh;
  background-color: inherit;
  border: 1px solid gray;
  border-radius: 5px;
}

#modal-items-wrapper {
  width: 100%;
}

.modal-area-dark button, .modal-area-light button {
  color: inherit;
  background-color: inherit;
  border: none;
}

.modal-area-dark button:hover, .modal-area-light button:hover {
  cursor: pointer;
}

.total-row {
  font-weight: bolder;
  font-size: 2vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#checkout-btn {
  font-size: 3vh;
  transition: transform 200ms;
}

#checkout-btn:hover {
  transform: scale(1.1);
}

#checkout-btn:active {
  transform: scale(0.9);
}

.cart-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


.main-area {
  padding: 0vh 10vw;
  flex: 1;
  display: flex;
  min-height: 90vh;
  flex-direction: row;
  background-color: inherit;
}

.card-area {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: inherit;
}

.filter-area {
  display: flex;
  flex-direction: column;
  font-size: 1.7vmin;
}

.product-card-fruit-light,
.product-card-fruit-dark, 
.product-card-veg-light, 
.product-card-veg-dark {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  width: 30vmin;
  height: 40vmin;
  /* border-radius: 5px; */
  transition: box-shadow 300ms;
}

.product-card-fruit-light {
  border: 1px solid red;
  background-color: rgb(255, 208, 208);
}

.product-card-fruit-dark {
  border: 1px solid red;
  background-color: rgb(52, 24, 24);
}

.product-card-veg-light {
  border: 1px solid green;
  background-color: rgb(183, 252, 183);
}

.product-card-veg-dark {
  border: 1px solid green;
  background-color: rgb(23, 47, 23);
}

.product-card-fruit:hover, .product-card-veg:hover {
  box-shadow: 0px 0px 5px gray;
}

#product-img {
  /* border-top-right-radius: inherit;
  border-top-left-radius: inherit; */
  object-fit: cover;
  height: 50%;
  z-index: 0;
}

.product-card-description{
  padding: 1vh;
  font-size: 2vmin;
  height: 50%;
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#card-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


#card-name {
  font-size: 3vmin;
}

#card-price{
  font-weight: bold;
  font-size: 3vmin;
}

.product-card-fruit-dark #card-add,
.product-card-veg-dark #card-add,
.product-card-fruit-light #card-add,
.product-card-veg-light #card-add {
  color: inherit;
  background-color: inherit;
  border: 1px solid white;
  border-radius: 5px;
  width: fit-content;
  padding: 1vh;
  display: flex;
}

.product-card-fruit-dark #card-add,
.product-card-veg-dark #card-add {
  border: 1px solid black; 
}

#card-select-light, #card-select-dark {
  width: 5vmin;
  color: inherit;
  background-color: inherit;
  border: none;
}

#card-select-light option {
  background-color: white;
}

#card-select-dark option {
  background-color: rgb(59, 59, 59);
}

#card-select-light:focus, #card-select-dark:focus {
  outline: none;
}

#card-add-button {
  background-color: inherit;
  color: inherit;
  border: none;
  transition: transform 100ms;
}

#card-add-button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

#card-add-button:active {
  transform: scale(0.8);
}

.price {
  font-weight: 600;
  margin: auto;
  text-align: right;
}

footer {
  padding: 1vh;
  margin: 0;
  background-color: inherit;
}

