* {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body, html, .App, #root, #wrapper-light, #wrapper-dark{
  margin: 0;
  height: 100%;
}

body {
  overflow-y: scroll;
}

button:focus {
  outline: none;
}

#wrapper-light, #wrapper-dark {
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: rgb(40, 40, 40);
  color: whitesmoke;
  padding: 6vh 0vh 0vh 0vh;
}

#wrapper-light {
  background-color: white;
  color: black;
}

.product-header {
  font-size: 5vmin;
  padding: 1vh 2vw;
  background-color: inherit;
}

.main-area {
  padding: 0vh 10vw;
  flex: 1;
  display: flex;
  min-height: 90vh;
  flex-direction: row;
  background-color: inherit;
}

.filter-area {
  display: flex;
  flex-direction: column;
  font-size: 1.7vmin;
}

footer {
  padding: 1vh;
  margin: 0;
  background-color: inherit;
}

